@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* hide scrollbar  for chrome, safari and opera */

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* ie, edge and firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
